<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
  </head>
  <body>
    <h1>Hi... You are on Home Page of Blog Application</h1>
    <%- include('./partials/scripts') %>
  </body>
</html>
